<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head><title>instagram 연동</title></head>

<main layout:fragment="content" class="flex-grow flex items-center justify-center min-h-screen flex flex-col">

  <script th:replace="~{usr/instagram/fragment/valid :: join}"></script>

  <div class="max-w-2xl w-full px-4">
    <h1 class="mb-4">
      <i class="fa-brands fa-instagram"></i>
      인스타그램 인증
    </h1>

    <script th:replace="~{usr/instagram/fragment/connectForm :: connectForm(${connectForm})}"></script>

  </div>

</main>
</html>