<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

`<head><title>로그인</title></head>`

<main layout:fragment="content" class="flex-grow flex items-center justify-center min-h-screen flex flex-col">

    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            로그인
        </h1>

        <form th:action th:object="${memberLoginForm}" method="post" class="flex flex-col gap-6">

            <div class="form-control">
                <label class="label">
                    <span class="label-text">아이디</span>
                </label>
                <input type="text" th:field="*{username}" placeholder="아이디" class="input input-bordered" autofocus />
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">비빌번호</span>
                </label>
                <input type="password" th:field="*{password}" placeholder="비빌번호" class="input input-bordered" />
            </div>

            <button class="btn btn-block btn-primary gap-1">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                <span>로그인</span>
            </button>

            <button class="btn btn-block gap-1">
                <i class="fa-solid fa-comment text-[color:#FCE96A]"></i>
                <span>카카오 로그인</span>
            </button>

            <button class="btn btn-block gap-1">
                <i class="fa-solid fa-n text-[color:#2DB400]"></i>
                <span>네이버 로그인</span>
            </button>

            <button class="btn btn-block gap-1">
                <i class="fa-brands fa-google text-[color:#ff4000]"></i>
                <span>구글 로그인</span>
            </button>

            <button class="btn btn-block gap-1">
                <i class="fa-brands fa-facebook text-sky-500"></i>
                <span>페이스북 로그인</span>
            </button>

            <a class="btn btn-block btn-primary gap-1"
               href="/member/join">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                <span>회원가입</span>
            </a>

        </form>

    </div>

</main>
</html>
